<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="material/index">
<div layout:fragment="main_content">

    <div class="block-header">
        <h2>MANAGE ROLES &amp; PERMISSIONS</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card">
                <div class="header bg-blue">
                    <h2>
                        Roles <small>Select a role to expand permissions</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <ul class="list-group">
                        <a th:each="role: ${roles}" th:href="@{/admin/roles/}+${role.id}" class="list-group-item"
                           th:classappend="${selectedRole!=null && role.id==selectedRole.id?'active':''}">
                            <h5 class="list-group-item-heading">
                                <span th:text="${role.name}"></span>
                                <span class="badge bg-pink pull-right" th:if="${role.restricted}">Restricted</span>
                                <span class="badge bg-cyan pull-right" th:if="${!role.restricted}">Open</span>
                            </h5>
                            <p class="list-group-item-text" th:text="${role.description}"></p>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="card">
                <div class="header bg-blue">
                    <h2>
                        Permissions <small>List of permissions that a role is granted for...</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">mic</i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">

                    <form class="form">
                        <h2 class="card-inside-title">Assigned Permissions</h2>
                        <div class="demo-checkbox">
                            <item th:each="permission: ${permissions}">
                                <input type="checkbox" th:id="${'md_checkbox_'+permission.id}" class="chk-col-green" th:checked="${selectedRole?.hasPrivilege(permission.id)}"/>
                                <label th:for="${'md_checkbox_'+permission.id}"><span th:text="${permission.name}"></span></label>
                            </item>

                            <div class="form-group m-t-40">
                                <button type="submit" class="btn btn-success">Change</button>
                                <a th:href="@{/admin/roles}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</html>
